body {
  font-family: Arial, sans-serif;
  background: #cde0f3;
}

.app-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-box {
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 270px;
  background: white;
}

.week-text {
  font-size: 13px;
  color: #080101f6;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.input-field:focus {
  border-color: #007bff;
  outline: none;
}

.selected-text {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}
